
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.employee.Name</h2>
<span><h2>@ViewBag.employee.EmpCode</h2> <p>{this is serialized because Person is decorated with [KnownType(typeof(Employee))]}</p></span>

